<h1 class="text-center my-5">Cannot find the restaurant</h1>
<div class="justify-content-center">
  <div class="d-grid gap-2 col-3 mx-auto">
    <a
      class="btn btn-primary text-center"
      href="http://localhost:3000/"
      role="button"
    >Back to Homepage</a></div>
</div>